* {
    box-sizing: border-box;
}


table{
    font-family: 'Open Sans';
    margin: 25px auto;
    border-collapse: collapse;
    text-align:center;
    font-size: 12px;
    color: #4A4A4A;
    width: 70%;
  }
  
  td, th, table, tr{
      border-right: 1px solid grey;
      border-left: 1px solid grey;
      padding: 8px;
  }
  .td_semnada{
      border-left-color: white;
  }


  .fundo_azul{
      background-color: #0078C1;
      color:white;
      font-size: 11px;
  }
  
  .fundo_verde{
      background-color:#009E2C;
      color:white;
      font-size: 11px;
  }

  tbody tr:nth-child(odd){
      background-color: #F3F3F3;
  }

  .table__head_data{
    padding: 30px;
    text-align:center;
    font-size: 11px;
  }

  .table__head_data a{
    display: block;
    text-decoration: none;
    margin-top: 15px;
    color:white;
    background-color: #FF5406;
    border-radius: 3px;
    padding: 10px;
  }

  .td__first{
      color: grey;
      text-align: left;
      font-size: 10px;
      padding-right: 25px;
      padding-top: 3px;
      padding-bottom: 3px;
      border-left-color: white;
  }

  